body{
    background-color: aqua;
}
#heading{
    text-align: center;
    color: red;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
}
p{
    text-align: center;
    color: black
    
}